<p-table [value]="$products()">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Title</th>
      <th>Tasks</th>
      <th>Status</th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <p-checkbox
          [binary]="true"
          [(ngModel)]="product.completed"
          (onChange)="toggleStatus(product)">
        </p-checkbox>
      </td>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.tasks || '-' }}</td>
      <td>{{ product.completed ? 'Completed' : 'Not Completed' }}</td>
      <td>
        <p-button (onClick)="removeTask($event, product)" [rounded]="true" [text]="true" icon="pi pi-times"  severity="danger" />
      </td>
    </tr>
  </ng-template>
</p-table>


<p-toast />
<p-confirmDialog />
